@import 'tailwindcss';
@import '@waverly/design-system/styles.css';
@plugin '@tailwindcss/typography';

html,
body,
#app {
  min-height: 100%;
}

.page-wrap {
  width: min(1080px, calc(100% - 2rem));
  margin-inline: auto;
}
